<!DOCTYPE html>
<html>
<head>

	<title>Ramen Hunter</title>

</head>
<body>


	
	 	<% ramenResult.forEach(function (ramen) {%>
		<h1> <%= ramen.venue.name %><h1>
			<ul>
		 		<li><%= ramen.name %></li>
		 		<li><%= ramen.venue.name %></li>
		 		<li><%= ramen.price %></li>
		 		<li><%= ramen.venue.localitry %></li>
		 	</ul>

	 		

	 	<% }) %> 
 	

 

</body>
</html>